body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto; 
}

.title {
  color:white;
}

nav {
  background-color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li input {
  display: none;
}

nav ul li label {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 100px;
  z-index: 1;
}

nav ul li ul li {
  display: block;
}

nav ul li ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li input:checked ~ ul {
  display: block;
}

