body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto en Arial o una fuente sans-serif genérica */
    background-color: rgb(172, 198, 245); /* Establece el color de fondo del cuerpo en un tono de azul */
    margin: 0; /* Elimina el margen exterior del cuerpo */
    padding: 0; /* Elimina el relleno interior del cuerpo */
}

header {
    background-color: #fff; /* Establece el color de fondo del encabezado en blanco */
    padding: 20px; /* Agrega relleno de 20px alrededor del encabezado */
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
}

h1 {
    text-align: center; /* Centra el texto del encabezado h1 */
    color: #333; /* Establece el color del texto del encabezado h1 a un tono oscuro de gris */
    margin-top: 30px; /* Agrega un margen superior de 30px al encabezado h1 */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima del encabezado h1 */
}

.menu {
    list-style-type: none; /* Elimina los marcadores de lista de los elementos de la lista */
    padding: 0; /* Elimina el relleno interior de la lista */
    margin: 0; /* Elimina el margen exterior de la lista */
    text-align: center; /* Centra el texto dentro de la lista */
    display: none; /* Oculta inicialmente los elementos de la lista */
}

.menu.visible {
    display: block; /* Muestra los elementos de la lista cuando la clase 'visible' está presente */
}

.menu li a {
    text-decoration: none; /* Elimina la decoración de subrayado de los enlaces dentro de la lista */
    color: #a895fd; /* Establece el color del texto de los enlaces */
    font-weight: bold; /* Establece la fuente en negrita */
    font-size: 18px; /* Establece el tamaño de la fuente en 18px */
    padding: 10px 20px; /* Agrega relleno de 10px arriba y abajo, y 20px a la izquierda y derecha */
    background-color: #fff; /* Establece el color de fondo de los enlaces en blanco */
    border-radius: 5px; /* Agrega bordes redondeados a los enlaces */
    display: inline-block; /* Permite que los enlaces se muestren en línea y tengan un ancho y alto definidos */
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo de los enlaces */
}

.menu li a:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo de los enlaces cuando se pasa el cursor sobre ellos */
}


